.header {
    display: flex;
    justify-content: end;
    padding-block: 20px;
    padding-right: 90px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 20px;
}

.navbar {
    font-family: Sora;
    font-weight: 600;
    color: #fff;
    display: flex;
    gap: 30px;
}

.header .menu-icon {
    display: none;
}

.logo img {
    height: 40px;   
    width: auto;
    margin: 0;
    border-radius: 6px;
}

.header {
    background: linear-gradient(to bottom, var(--lavanda-profunda), var(--lavanda));
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
}

@media (width <=360px) {
    .header {
        padding-block: 0px;
        padding-right: 30px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: var(--lavanda-suave);
        padding: 20px;
        border-radius: 8px;
        gap: 15px;
        z-index: 100;
    }

    .header .menu-icon {
        display: block;
        font-size: 40px;
        color: #fff;
        cursor: pointer;
    }

    .navbar.active {
        display: flex;
        z-index: 100;
    }

    .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 15px;
    }

    .logo img {
    height: 30px;
    }
}
